---
http_interactions:
  - request:
      method: post
      uri: https://api-ssl.bitly.com/v4/shorten
      body:
        encoding: UTF-8
        string: '{"long_url":"https://leafly.com/"}'
      headers:
        Authorization:
          - Bearer BITLY_TOKEN
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"created_at":"2020-05-01T19:52:27+0000","id":"leafly.info/35ny2W6","link":"https://leafly.info/35ny2W6","custom_bitlinks":[],"long_url":"https://leafly.com/","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Be1ojaikusR"}}'
    recorded_at: Fri, 15 May 2020 15:41:06 GMT
recorded_with: VCR 4.0.0
