---
http_interactions:
  - request:
      method: post
      uri: https://api-ssl.bitly.com/v4/bitlinks
      body:
        encoding: UTF-8
        string: '{"long_url":"https://example-two.com/site/path","tags":[]}}'
      headers:
        Authorization:
          - Bearer BITLY_TOKEN
        Content-Type:
          - application/json
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"created_at":"2020-05-18T16:18:41+0000","id":"leafly.info/3bIC5xY","link":"https://leafly.info/3bIC5xY","custom_bitlinks":[],"long_url":"https://example-two.com/site/path","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Be1ojaikusR"}}'
    recorded_at: Mon, 18 May 2020 16:18:41 GMT
recorded_with: VCR 4.0.0
