---
http_interactions:
- request:
    method: get
    uri: http://leafly.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.leafly.com/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 28 Apr 2020 20:33:10 GMT
- request:
    method: post
    uri: https://api-ssl.bitly.com/v4/shorten
    body:
      encoding: UTF-8
      string: '{"long_url":"http://leafly.com"}'
    headers:
      Authorization:
      - Bearer BITLY_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-07-24T23:57:50+0000","id":"leafly.info/1CVNybj","link":"https://leafly.info/1CVNybj","custom_bitlinks":[],"long_url":"http://leafly.com/","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Be1ojaikusR"}}'
  recorded_at: Tue, 28 Apr 2020 20:33:10 GMT
recorded_with: VCR 4.0.0
