---
http_interactions:
  - request:
      method: get
      uri: https://www.leafly.com/strains
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/html; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: ""
    recorded_at: Thu, 09 Jul 2020 19:00:01 GMT
  - request:
      method: post
      uri: https://api-ssl.bitly.com/v4/bitlinks
      body:
        encoding: UTF-8
        string: '{"long_url":"https://www.leafly.com/strains","group_guid":"Be1ojaikusR","tags":[]}'
      headers:
        Authorization:
          - Bearer BITLY_TOKEN
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"created_at":"2020-07-08T20:58:59+0000","id":"leafly.info/2CgYGWs","link":"https://leafly.info/2CgYGWs","custom_bitlinks":[],"long_url":"https://www.leafly.com/strains","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Be1ojaikusR"}}'
    recorded_at: Thu, 09 Jul 2020 19:00:01 GMT
  - request:
      method: get
      uri: https://api-ssl.bitly.com/v4/bitlinks/leafly.info/2CgYGWs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer BITLY_TOKEN
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string:
          '{"created_at":"2020-07-08T20:58:59+0000","id":"leafly.info/2CgYGWs","link":"https://leafly.info/2CgYGWs","custom_bitlinks":[],"long_url":"https://www.leafly.com/strains","title":"All
          marijuana strains | Leafly","archived":false,"created_by":"leaflydevs","client_id":"a5e8cebb233c5d07e5c553e917dffb92fec5264d","tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Be1ojaikusR"}}'
    recorded_at: Thu, 09 Jul 2020 19:00:02 GMT
recorded_with: VCR 4.0.0
