---
http_interactions:
  - request:
      method: get
      uri: https://www.leafly.com/strains
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/html; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: ""
    recorded_at: Mon, 27 Jul 2020 18:57:50 GMT
  - request:
      method: post
      uri: https://api-ssl.bitly.com/v4/bitlinks
      body:
        encoding: UTF-8
        string: '{"long_url":"https://www.leafly.com/strains","tags":[]}'
      headers:
        Authorization:
          - Bearer BITLY_TOKEN
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"created_at":"2020-07-08T21:09:02+0000","id":"leafly.info/2CgYGWs","link":"https://leafly.info/2CgYGWs","custom_bitlinks":[],"long_url":"https://www.leafly.com/strains","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/B01103Ajtve"}}'
    recorded_at: Mon, 27 Jul 2020 18:57:55 GMT
recorded_with: VCR 4.0.0
