---
http_interactions:
  - request:
      method: get
      uri: https://api-ssl.bitly.com/v4/bitlinks/leafly.info/1CVNyb
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer BITLY_TOKEN
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string:
          '{"created_at":"2020-07-07T13:52:34+0000","id":"leafly.info/1CVNyb","link":"https://leafly.info/1CVNyb","custom_bitlinks":[],"long_url":"http://leafly.com/","title":"Find
          Marijuana Strains for Pickup and Delivery | Leafly","archived":false,"created_by":"leaflydevs","client_id":"ece654beaf35f9c29f610ffd4fb128702b4bad15","tags":["tag_name"],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/B01103Ajtve"}}'
    recorded_at: Wed, 08 Jul 2020 19:18:06 GMT
recorded_with: VCR 4.0.0
